  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Id:</td>
          <td>Name:</td>
          <td>Created at:</td>
        </tr>
      </thead>
      <tbody>
        <tr {{action 'transitionToPage' model.id}}>
          <td>{{model.id}}</td>
          <td><a href="{{model.sites}}">{{model.sites}}</a></td>
          <td><p>{{model.createdat}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    Extra data:

  </div>
{{outlet}}
